:root{
    --Purple-main: #7D0BC3;
    --Black-main: #403D44;
    --Color-background: #E5E2E8;
}
*{
    font-family: 'JetBrains Mono', monospace;
}

p, h1{
    color: var(--Black-main);
}



.containerContact{
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.icon_contacts{
    display: flex;
    gap: 25px
    
   
}

.icon_contacts img{
    max-width: 120px;
    transition: transform .2s;   
}


.icon_contacts img:hover{
    transform: scale(1.2);  
}

.content_contacts{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
}

.home-container {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  
  .home-container.visible {
    opacity: 1;
    transform: translateY(0);
  }